# Copy this file to .env.local and adjust values as needed:


# Product API
NEXT_PUBLIC_API_BASE_URL=https://api-one-alpha-60.vercel.app

# Base URL for product images
NEXT_PUBLIC_IMAGE_BASE_URL=https://www.owndays.com/storage

# OWNDAYS site links
NEXT_PUBLIC_OWNDAYS_STORE=https://www.owndays.com
NEXT_PUBLIC_OWNDAYS_JP_JA=https://www.owndays.com/jp/ja
NEXT_PUBLIC_OWNDAYS_ABOUT=https://www.owndays.com/th/th/company
NEXT_PUBLIC_OWNDAYS_PRODUCTS=https://www.owndays.com/th/th/products
NEXT_PUBLIC_OWNDAYS_STORES=https://www.owndays.com/th/th/shops
NEXT_PUBLIC_OWNDAYS_IG=https://www.instagram.com/owndays_thailand
